/* navigation */
#navbar{
   flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* home */
#home{
    height: 370px;
    padding:3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* services */
#services{
   flex-direction: column;
}
/* client */
#clients{
     flex-wrap: wrap;
}
#clients img{
    width: 66px;
}
/* contact */
.contact-box form{
    width: 80%;
}
/* utility */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}